@model IEnumerable<RestaurantFrontend.Models.Order.Order>

@{
    ViewData["Title"] = "Order";
}


<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-2" id="successMessage">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="d-flex justify-content-between mt-3 p-5">

        <div style="width: 30%;">
            @Html.Partial("_MyAccountLayout")
        </div>

        <section class="col-md-8">
            <div class="card-header text-start p-3" style="background-color: #8c0303;">
                <h1 class="h3 text-light">Orders</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-1 g-4">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="@item.Image" alt="@item.Name" style="max-width: 110px;">
                                    </a>
                                    <div class="ms-4">
                                        <h5 class="card-text text-nowrap">@item.Name</h5>
                                        <p class="card-text">@item.SKU</p>
                                        @if (item.ShippingInfo == "Delivered")
                                        {
                                            <p class="card-text">
                                                <span class="bg-success text-light p-1">@item.ShippingInfo</span>
                                            </p>
                                            <h6 class="card-text"> @item.OrderDate</h6>
                                        }
                                        @if (item.ShippingInfo == "Shipped")
                                        {
                                            <p class="card-text">
                                                <span class="bg-secondary text-light p-1">@item.ShippingInfo</span>
                                            </p>
                                            <h6 class="card-text"> @item.OrderDate</h6>
                                        }
                                        @if (item.ShippingInfo == "Pending")
                                        {
                                            <p class="card-text">
                                                <span class="bg-warning text-light p-1">@item.ShippingInfo</span>
                                            </p>
                                            <h6 class="card-text"> @item.OrderDate</h6>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-8 d-flex align-items-start justify-content-between">
                                    <div class="card-body">
                                        @*<div class="d-flex flex-column align-items-end mb-3">
                                            <a href="#" class="text-danger text-decoration-none ">See details</a>
                                        </div>*@
                                        <div class="see-details">
                                            <p>
                                                <div class="d-flex flex-column align-items-end mb-3 text-danger" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                                                    <a href="#" class="text-danger text-decoration-none ">See details</a>
                                                </div>
                                            </p>
                                            <div style="min-height: 120px;">
                                                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                                                    <div class="card card-body" style="width: 300px;">
                                                        <div class="row g-4 sku-overlay">
                                                           
                                                            @*@foreach (var order in Model)
                                                            {*@
                                                                @*<div class="col-md-3 col-sm-6 border-primary" style="max-width: 208px; height: 86vh">*@
                                                                <div class="card">
                                                                    
                                                                    <img src="@item.Image" class="card-img-top " style="height: 25vh; width: 16vh; margin-left: 31%;" alt="" />
                                                                    <div class="card-body">
                                                                        <p class="card-text">@item.Name</p>
                                                                        <div class="price-section d-flex">

                                                                            <p class="card-text-dollar text-danger"> $@item.TotalAmount</p>
                                                                        </div>

                                                                    @if (item.ShippingInfo == "Delivered")
                                                                    {
                                                                        <p class="card-text">
                                                                            <span class="bg-success text-light p-1">@item.ShippingInfo</span>
                                                                        </p>
                                                                        <h6 class="card-text"> @item.OrderDate</h6>
                                                                    }
                                                                    @if (item.ShippingInfo == "Shipped")
                                                                    {
                                                                        <p class="card-text">
                                                                            <span class="bg-secondary text-light p-1">@item.ShippingInfo</span>
                                                                        </p>
                                                                        <h6 class="card-text"> @item.OrderDate</h6>
                                                                    }
                                                                    @if (item.ShippingInfo == "Pending")
                                                                    {
                                                                        <p class="card-text">
                                                                            <span class="bg-warning text-light p-1">@item.ShippingInfo</span>
                                                                        </p>
                                                                        <h6 class="card-text"> @item.OrderDate</h6>
                                                                    }
                                                                    </div>
                                                                   
                                                                </div>
                                                                
                                                            @*}*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </section>


    </div>
</div>

<script>
    console.log("Script started.");
    setTimeout(function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage) {
            console.log("Hiding message.");
            successMessage.style.display = "none";
        }
    }, 3000);
</script>
<script src="~/js/site.js"></script>