@*@model IEnumerable<RestaurantFrontend.Models.ProductDetails.ProductDetails>

@{
    ViewData["Title"] = "List of ProductDetails";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="@Url.Content("~/css/Products.css")" rel="stylesheet" type="text/css" />
<style>
    #navbar{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin: 0.75rem 0;
        width:100vw;
    }
   #img-content{
       margin-left:-20px;
   }

    .add-to-cart-btn:hover {
        color: #EB1414 !important;
        background-color: white !important;
        border: 1.5px solid #EB1414 !important;
    }
    </style>
<div class="container ">
    <div class="row">
    
    @foreach (var item in Model)
    {
        <div class="col-md-12 mb-5">
            <div class="row g-0">
                 <div class="col-md-12" id="navbar">
                    <div class="breadcrumb">
                        <a href="#" class="text-decoration-none text-dark me-1">Home</a> /
                            <a href="#" class="text-decoration-none text-dark me-1 ms-1"> @item.Tag</a> /
                        <span class="ms-1">@item.Name</span>
                    </div>
                 </div>
                 <div class="col-md-6" >
                    <div class="card mb-2" id="img-content" style="width: 450px; height: 110vh">
                            <img src="@item.Image" style="width: 30vw; height: 100vh;" alt="@item.Name" class="position-absolute top-50 start-50 translate-middle">
                    </div>
                    <div class="card-content" style="max-width: 460px;">
                        <p>I'm a product description. This is a great place to "sell" your product and
                            grab buyers' attention. Describe your product clearly and concisely.
                            Use unique keywords. Write your own description instead of using
                            manufacturers' copy.
                        </p>
                    </div>
                 </div>
                 <div class="col-md-6">
                        <div class="card-body">
                        <p class="card-text"><b>@item.Name</b></p>
                            <p class="card-text">@item.SKU</p>
                            <p class="card-text fs-4 text-danger"><b>$@item.Price </b></p>
                            <p class="card-text">Quantity</p>
                            <form>
                                <input placeholder="1" type="number" min="1" style="width: 7vw; height: 6vh;border: solid 1px; border-color:dimgray; display:flex; text-align: center; justify-content:center; padding:4px">
                            </form>
                        </div>
                        <div class="d-flex">
                            <a class="btn text-white  add-to-cart-btn mt-5 mb-5 " style="width: 25vw; background-color: #EB1414;"> Add to Cart</a>
                            <a href="#" class="mt-5 mb-5 ms-3 pt-2" style="width: 3vw; height: 6vh; border: 1.5px solid #EB1414; border-radius: 50%; display: flex; justify-content:center; align-content:center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#EB1414" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </a>
                        </div>
                        <div class="category-details">

                            <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                                Product Info
                                <span class="icon">+</span>
                            </button>

                            <div class="collapse" id="collapseWidthCategory">
                                <div class="category-list" style="width: 400px;">
                                    <div class="row g-2 ms-1 sku-overlay fs-6">
                                        I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 30vw">
                        <div class="category-details">

                            <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                                Return & Refund Policy
                                <span class="icon">+</span>
                            </button>

                            <div class="collapse" id="collapseWidthCategory">
                                <div class="category-list" style="width: 400px;">
                                    <div class="row g-2 ms-1 sku-overlay fs-6">
                                        I'm a return and refund policy. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 30vw">
                        <div class="category-details">

                            <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                                Shipping Info
                                <span class="icon">+</span>
                            </button>

                            <div class="collapse" id="collapseWidthCategory">
                                <div class="category-list" style="width: 400px;">
                                    <div class="row g-2 ms-1 sku-overlay fs-6">
                                        I'm a Shipping info. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
        </div>
    }
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Products.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
*@




@model RestaurantFrontend.Models.ProductDetails.ProductDetails

@{
    ViewData["Title"] = "List of ProductDetails";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="@Url.Content("~/css/Products.css")" rel="stylesheet" type="text/css" />
<style>
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.75rem 0;
        width: 100vw;
    }

    #img-content {
        margin-left: -20px;
    }

    .add-to-cart-btn:hover {
        color: #EB1414 !important;
        background-color: white !important;
        border: 1.5px solid #EB1414 !important;
    }
</style>
<div class="p-5">
    <div class="row">

        <div class="col-md-12 mb-5">
            <div class="row g-0">
                <div class="col-md-12" id="navbar">
                    <div class="breadcrumb">
                        <a href="#" class="text-decoration-none text-dark me-1">Home</a> /
                        <a href="#" class="text-decoration-none text-dark me-1 ms-1"> @Model.Tag</a> /
                        <span class="ms-1">@Model.Name</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-2" id="img-content" style="width: 450px; height: 110vh">
                        <img src="@Model.Image" style="width: 30vw; height: 100vh;" alt="@Model.Name" class="position-absolute top-50 start-50 translate-middle">
                    </div>
                    <div class="card-content" style="max-width: 460px;">
                        <p>
                            I'm a product description. This is a great place to "sell" your product and
                            grab buyers' attention. Describe your product clearly and concisely.
                            Use unique keywords. Write your own description instead of using
                            manufacturers' copy.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text"><b>@Model.Name</b></p>
                        <p class="card-text">@Model.SKU</p>
                        <p class="card-text fs-4 text-danger"><b>₦@Model.Price </b></p>
                        <p class="card-text">Quantity</p>
                        <form>
                            <input class="count count-@Model.Id " id="cardDetails" placeholder="1" type="number" min="1" style="width: 7vw; height: 6vh;border: solid 1px; border-color:dimgray; display:flex; text-align: center; justify-content:center; padding:4px">
                        </form>
                    </div>
                    <div class="d-flex">
                        <a onclick="addToCart2(this)" class="btn text-white  add-to-cart-btn mt-5 mb-5 " style="width: 25vw; background-color: #EB1414;" data-product-id="@Model.Id"> Add to Cart</a>
                        <a asp-action="AddToWishlist" asp-controller="MyWishList" asp-route-Id="@Model.Id" class="mt-5 mb-5 ms-3 pt-2" style="width: 3vw; height: 6vh; border: 1.5px solid #EB1414; border-radius: 50%; display: flex; justify-content:center; align-content:center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#EB1414" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                        </a>
                    </div>
                    <div class="category-details">

                        <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                            Product Info
                            <span class="icon">+</span>
                        </button>

                        <div class="collapse" id="collapseWidthCategory">
                            <div class="category-list" style="width: 400px;">
                                <div class="row g-2 ms-1 sku-overlay fs-6">
                                    I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 30vw">
                    <div class="category-details">

                        <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                            Return & Refund Policy
                            <span class="icon">+</span>
                        </button>

                        <div class="collapse" id="collapseWidthCategory">
                            <div class="category-list" style="width: 400px;">
                                <div class="row g-2 ms-1 sku-overlay fs-6">
                                    I'm a return and refund policy. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 30vw">
                    <div class="category-details">

                        <button class="category-details-btn fs-4 fw-semibold" type="button" style="width: 30vw;">
                            Shipping Info
                            <span class="icon">+</span>
                        </button>

                        <div class="collapse" id="collapseWidthCategory">
                            <div class="category-list" style="width: 400px;">
                                <div class="row g-2 ms-1 sku-overlay fs-6">
                                    I'm a Shipping info. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Products.js" asp-append-version="true"></script>
<script src="~/js/site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
